node_modules/
database/*.db

# Uploads Zakat (Abaikan isinya, kecuali .gitkeep)
public/uploads/zakat/*
!public/uploads/zakat/.gitkeep

# Uploads Users (Abaikan isinya, kecuali .gitkeep)
public/uploads/users/*
!public/uploads/users/.gitkeep

# Uploads Finance (Abaikan isinya, kecuali .gitkeep)
public/uploads/finance/*
!public/uploads/finance/.gitkeep

# IZINKAN FOLDER TARKHIM AGAR TER-UPLOAD KE GITHUB (Kecuali file .gitkeep jika ada)
public/uploads/tarkhim/*
!public/uploads/tarkhim/.gitkeep

public/uploads/*
!public/uploads/zakat/
!public/uploads/users/
!public/uploads/finance/
!public/uploads/tarkhim/
!public/uploads/.gitkeep

.env
*.log
.DS_Store