node_modules/
database/*.db

# Uploads Zakat (Abaikan isinya, kecuali .gitkeep)
public/uploads/zakat/*
!public/uploads/zakat/.gitkeep

# Uploads Users (Abaikan isinya, kecuali .gitkeep)
public/uploads/users/*
!public/uploads/users/.gitkeep

# Uploads Finance (Abaikan isinya, kecuali .gitkeep)
public/uploads/finance/*
!public/uploads/finance/.gitkeep

public/uploads/*
!public/uploads/tarkhim/tarkhim*
!public/uploads/.gitkeep
.env
*.log
.DS_Store